################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/real-proxy-api/.vs
/real-proxy-api/real-proxy-api/bin/Debug/net9.0
/.vs/real-proxy-api/v17/.suo
/bin/Debug/net9.0
/obj
/real-proxy-api.sln
/‎appsettings.json
/.vs/real-proxy-api/DesignTimeBuild/.dtbcache.v2
/.vs/real-proxy-api/FileContentIndex/06516036-7671-4fdd-a041-a590d6bd4cf2.vsidx
*.vsidx
/.vs/real-proxy-api/FileContentIndex/e27a1798-482b-4d03-b4b0-78a492c5f822.vsidx
/.vs/real-proxy-api/CopilotIndices/17.14.1147.5054
/.vs/real-proxy-api/v17/DocumentLayout.backup.json
/.vs/real-proxy-api/v17/DocumentLayout.json
/bin/Release/net9.0/appsettings.json
/bin/Release/net9.0/real-proxy-api.dll
/bin/Release/net9.0/real-proxy-api.exe
/bin/Release/net9.0/real-proxy-api.pdb
/appsettings.json
